.App {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Roboto;
}

ul {
        list-style: none;
}

button,
button:focus{
    border: none;
    cursor: pointer;
    outline: none;
}

/*Adding style*/
.borderMaking {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 2px solid black;
        color: grey;
        margin: 5px 10px;
        width: 150px;
        height: 30px;
        padding-top: 7px;
        border-radius: 10px;
        background-color: lightgrey;
}

span {
        font-size: 15px;
}

.contextDesign {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 15px;
        border-radius: 10px;
        border: 1px black solid;
        height: 200px;
        width: 250px;
        background-color: white;
}

.menuItem:hover{
	color: red;
}

.smallGet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 15px;
        border-radius: 10px;
        border: 1px black solid;
        height: 50px;
        width: 100px;
        background-color: white;
}

.hoverVideoStyle{
    flex: 1 1 35%;
    margin-right: 12px;
    z-index: 0;
}



/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: black;
    color: white;
}

header .logo{
    font-size: 18px;
}

header .logo i {
    color: red;
}

header .icons .fa-search {
    margin-right: 12px;
}

.player{
    position: sticky;
    top: 0;
    text-align: center;
    background-color: black;
    z-index: 1;
}



/* Video Player */
.player video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}


/* Video Info */
body > .info {
    padding: 12px;
}



/*Metadata*/
.info .metadata .hashtags{
    display: flex;
    font-size: 12px;
    color: blue;
}

.info .metadata .hashtags li {
    margin-right: 12px;
}

.info .metadata .titleAndButton {
    display: flex;

}

.info .metadata .titleAndButton .title{
    font-size: 14px;
    margin-right: 12px;
}

.info .metadata .titleAndButton .title.clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.info .views{
    font-size: 12px;
    color: darkgrey;
}

/* Action buttons */
.info .actions {
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
}

.info .actions button{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: darkgrey;
    background-color: white;
}

.info .actions .borderMaking button{
        background-color: lightgrey;
}

.info .actions button i{
    margin: 0 auto;
    margin-bottom: 6px;
    font-size: 16px;

}

.info .actions button i.active{
    color: blue;
}

.info .actions button i.antiActive{
    color: red;
}


/* Channel Description */
.info .channel{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.channel .metadata{
    display: flex;
    align-items: center;
}

.channel .metadata .info{
    display: flex;
    flex-direction: column;
}

.channel .metadata img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.channel .metadata .info .name{
    font-size: 14px;
}

.channel .metadata .info .subscribers{
    font-size: 12px;
    color: darkgrey;
}

.channel .subscribe {
    text-transform: uppercase;
    color: red;
    font-size: 27px;
    background-color: white;
}

.paddingDown {
        padding-top: 3px;
}

/* Up Next*/
.upNext{
    padding: 0 12px;
}

.upNext > .title {
    font-size: 12px;
    color: darkgrey;
    margin-bottom: 6px;
}

.upNext .item {
    display: flex;
    margin-top: 12px;
}

.upNext .item .img{
    flex: 1 1 35%;
    margin-right: 12px;
}

.upNext .item .img img {
    width: 100%;
}

.upNext .item .info{
    flex: 1 1 60%;
}

.upNext .item .moreBtn{
    flex: 1 1 5%;
    background-color: white;
}

.upNext .item .info{
    display: flex;
    flex-direction: column;
}

.upNext .item .info .name,
.upNext .item .info .views{
    font-size: 10px;
    color: darkgrey;
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px){
    .infoAndUpNext{
        flex-direction: row;
        margin: 12px 0;
    }
}

/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

  /* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

  /* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

  /* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

  /* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

  /* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


